{% extends "layout.html" %}

{% block title %}Welcome{% endblock %}

{% block class %}
    <div class="background mainBackground">
        <!-- <div class="earth"></div> -->
        <h1 class="mainTitle">EDE - organize your learning</h1>
    </div>
{% endblock %} 

        {% block main %}
        <div class="languageBar">

        </div>
        <div class="section">
            <h2>How to learn a language..</h2>
            <p >
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qu
            </p>  
        </div>

        <!-- Parralax image -->
        <div class="pimg1">

        </div>

            <!-- First row with welcome sign -->
        <!-- <div class="background row1">
            <div class="boxes box1">
                <h1 class="boxTitle">Welcome to ÈDÈ. Organize your learning.</h1>
                <p class="boxText">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qu
                </p>  
            </div>                       
            </div>
             
            <div class="row">
                <div class="boxes box2">
                    <h2 class="boxTitle">How to learn a language...</h2>       
                    <p class="boxText">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>  
                </div>
                
                <div class="boxes box3">
                    <h3 class="boxTitle">Why even bother?...</h3>
                    <p class = "boxText">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>  
                </div>
            </div> -->

                
 
<!--ADD carousel... maybe-->
    {% endblock %}